{% load static %}
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-navy ">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a href="{% url 'erp:dashboard' %}" class="navbar-brand" >
        <span class="brand-text font-weight-light" >Tablero Digital</span>
        <img src="{{ request.user.buss.get_image }}" alt="Tab Logo"
             class="brand-image"
              width="140px" height="60px" >
    </a>
  
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a href="{% url 'erp:dashboard' %}" class="nav-link"><i class="fas fa-home"></i> {{request.user.buss.name}} <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'erp:category_list' %}">
                    <i class="fas fa-user-md" aria-hidden="true"></i>
                    Cirujanos
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'erp:product_list' %}">
                    <i class="fas fa-user-tag" aria-hidden="true"></i>
                    Pacientes
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'sale_report' %}">
                    <i class="fas fa-chart-bar" aria-hidden="true"></i>
                    Reporte de Pacientes
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'user:user_list' %}">
                    <i class="fas user-friends" aria-hidden="true"></i>
                    Usuarios
                </a>
            </li>
        </ul>
        <ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">
            {% if request.user.groups.all %}
                <li class="nav-item dropdown">
                    <a id="dropdownSubMenu1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                       class="nav-link{% if request.user.groups.all.count > 1 %} dropdown-toggle{% endif %}">{{ request.session.group }}</a>
                    {% if request.user.groups.all.count > 1 %}
                        <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow"
                            style="left: 0px; right: inherit;">
                            {% for g in request.user.groups.all %}
                                {% if g.id != request.session.group.id %}
                                    <li><a href="{% url 'user:user_change_group' g.id %}"
                                           class="dropdown-item">{{ g.name }} </a></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
            {% endif %}
            <li class="nav-item dropdown">
                <a class="nav-link" data-toggle="dropdown" href="#">
                    <img src="{{ request.user.get_image }}" class="img-circle" alt="User Image"
                          width="30px" height="30px"> {{ request.user.username }}
                </a>
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-left">
                    <span class="dropdown-header" style="font-size: 12px;">
                        Sú último acceso fue {{ request.user.last_login }}
                    </span>
                    <div class="dropdown-divider"></div>
                    <a href="{% url 'user:user_profile' %}" class="dropdown-item">
                        <i class="fas fa-edit mr-2"></i> Editar perfil
                        <span class="float-right text-muted text-sm">3 mins</span>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="{% url 'user:user_change_password' %}" class="dropdown-item">
                        <i class="fas fa-lock mr-2"></i> Editar password
                        <span class="float-right text-muted text-sm">12 hours</span>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item dropdown-footer">
                        <p>Este sistema te permitira realizar diferentes actividades</p>
                    </a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">
                    <i class="fas fa-power-off" aria-hidden="true"></i>
                </a>
            </li>
        </ul>
    </div>
  </nav>