{% extends 'layout.html' %}
{% load static %}
{% load widget_tweaks %}
{% load thumbnail %}
{% block head %}
    {% block head_form %}

    {% endblock %}
    <link rel="stylesheet" href="{% static 'product/css/slider.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.css">
    <script src="{% static 'js/functions.js' %}"></script>
    <style>
        .black {
            background-color: white;
            color: black;
        }
        div.card-body
        {
          background-color: black;
            color: white;  
        }

        .imagenes{
        margin: auto;
        width: 600;
        padding: 30px;
        }

        ul, li {
            padding: 0;
            margin: 0;
            list-style: none;
        }


        .container.gallery-container {
    background-color: #fff;
    color: #35373a;
    min-height: 100vh;
    border-radius: 20px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.06);
}

.gallery-container h1 {
    text-align: center;
    margin-top: 70px;
    font-family: 'Droid Sans', sans-serif;
    font-weight: bold;
}

.gallery-container p.page-description {
    text-align: center;
    max-width: 800px;
    margin: 25px auto;
    color: #888;
    font-size: 18px;
}

.tz-gallery {
    padding: 40px;
}

.tz-gallery .lightbox img {
    width: 100%;
    margin-bottom: 30px;
    transition: 0.2s ease-in-out;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}


.tz-gallery .lightbox img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0,0,0,0.3);
}

.tz-gallery img {
    border-radius: 4px;
}

.baguetteBox-button {
    background-color: transparent !important;
}


@media(max-width: 768px) {
    body {
        padding: 0;
    }

    .container.gallery-container {
        border-radius: 0;
    }
}

    </style>

{% endblock %}

{% block content %}
<div class="card card-info">
    <div class="card-header">
        <h3 class="card-title">
        {% if action == 'add' %}
            <i class="fas fa-plus"></i>
        {% else %}
            <a href="{% url 'erp:product_update' pk=object.pk %}" style="float: right;"><i class="fas fa-edit"></i></a>
        {% endif %}

        {{ title }}
        </h3>
    </div>
    <div class="card-body" style="text-align: center;background-color: rgb(0, 153, 204); color: black ; font-size:22px ; font-family:Saira Extra Condensed, sans-serif;">
        {% csrf_token %}
        <input type="hidden" name="action" value="{{ action }}">
        <div class="form-group">
            <div class="row">
                <div class="col-xs-5 col-md-5"><u style="color:maroon;">Fecha:</u><br> <b>{{ product.date_joined }}</b>  </div>
                <div class="col-xs-2 col-md-2"><u style="color:maroon;">Edad:</u><br> <b>{{product.edad }}</b></div>
                <div class="col-xs-5 col-md-5"><u style="color:maroon;">Identificacion:</u><br> <b>{{product.identificacion}}</b></div>
            </div>
        </div>
        <div class="form-group">
            <div class="row" style="text-align: center">
                <div class="col-xs-12 col-md-12" ><u style="color:maroon;">Nombre: </u><br> <b>{{product.name}} </b></div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-xs-12 col-md-12"><u style="color:maroon;">Procedimientos:</u><br>
                    {% for a in  product.procedimientos.all %}
                    <b>{{ a.name }} -</b>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-xs-6 col-md-6"><u style="color:maroon;">Cirujano 1: </u><br><b>{{ product.cirujano }}</b></div>
                <div class="col-xs-6 col-md-6"><u style="color:maroon;">Cirujano 2: </u><br><b>{{ product.cirujano2 }}</b></div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-xs-6 col-md-6"><u style="color:maroon;">Inicio Anestesia: </u><br><b>{{ product.inicioanestesia }}</b></div>
                <div class="col-xs-6 col-md-6"><u style="color:maroon;">Fin Anestesia: </u><br><b>{{ product.finalizacionanestesia }}</b></div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-xs-6 col-md-6"><u style="color:maroon;">Inicio Cirugia: </u><br><b>{{ product.iniciocirugia }}</b></div>
                <div class="col-xs-6 col-md-6"><u style="color:maroon;">Fin Cirugia: </u><br><b>{{ product.finalizacioncirugia }}</b></div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-xs-4 col-md-4"><u style="color:maroon;">Klein:</u><br> <b>{{ product.klein }}</b></div>
                <div class="col-xs-4 col-md-4"><u style="color:maroon;">Extrae:</u><br> <b>{{ product.extrae }}</b></div>
                <div class="col-xs-4 col-md-4"><u style="color:maroon;">Transferencia:</u><br> <b>{{ product.transferencia }}</b></div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-xs-6 col-md-6"><u style="color:maroon;">Mama Derecha:</u><br> <b>{{ product.md }}</b></div>
                <div class="col-xs-6 col-md-6"><u style="color:maroon;">Mama Izquierda:</u><br> <b>{{ product.mi }}</b></div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-xs-6 col-md-6"><u style="color:maroon;">Colgajo Derecho:</u><br> <b>{{ product.colgajo }}</b></div>
                <div class="col-xs-6 col-md-6"><u style="color:maroon;">Colgajo Izquierdo:</u><br> <b>{{ product.colgajo2 }}</b></div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-xs-12 col-md-12"><u style="color:maroon;">Observaciones:</u></div>
                <div class="col-xs-12 col-md-12"><b>{{ product.observaciones}}</b></div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-xs-12 col-md-12"><u style="color:maroon;">Duracion de la cirugia:</u><br> <b>{{ product.duracion}}</b></div>
            </div>
        </div>
             


        <div class="container gallery-container">

            <h1>Imagenes</h1>
        
            <p class="page-description text-center"></p>
            
            <div class="tz-gallery">
        
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <a class="lightbox" href="{{ product.get_image }}">
                            <img src="{{ product.get_image }}" alt="Imagen 1" height="550px" width="500px">
                        </a>
                    </div>
                    <div class="col-sm-6 col-md-6">
                        <a class="lightbox" href="{{ product.get_image2 }}">
                            <img src="{{ product.get_image2 }}" alt="Imagen 2" height="550px" width="500px">
                        </a>
                    </div>
                    <div class="col-sm-6 col-md-6">
                        <a class="lightbox" href="{{ product.get_image3 }}">
                            <img src="{{ product.get_image3 }}" alt="Imagen 3" height="550px" width="500px">
                        </a>
                    </div>
                    <div class="col-sm-6 col-md-6">
                        <a class="lightbox" href="{{ product.get_image4 }}">
                            <img src="{{ product.get_image4 }}" alt="Imagen 4" height="550px" width="500px">
                        </a>
                    </div>
                    
                </div>
        
            </div>
        
        </div>
    </div>


                  

    <div class="card-footer">
        <a href="{% url 'erp:product_update' pk=object.pk %}" class="btn btn-danger btn-flat">
            <i class="fas fa-edit"></i> Editar
        </a>
        <a href="{{ list_url }}" class="btn btn-danger btn-flat">
            <i class="fas fa-times"></i> Volver
        </a>
    </div>
</div>
{% endblock %}
{% block javascript %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
<script>
    baguetteBox.run('.tz-gallery');
</script>
{% endblock %}