{% extends 'layout.html' %}
{% load static %}
{% load widget_tweaks %}
{% load thumbnail %}
{% block head %}
    {% block head_form %}

    {% endblock %}
    <link rel="stylesheet" href="{% static 'product/css/slider.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.css">
    <script src="{% static 'js/functions.js' %}"></script>
    <style>
        .black {
            background-color: white;
            color: black;
        }
        div.card-body
        {
          background-color: black;
            color: white;  
        }

        .imagenes{
        margin: auto;
        width: 600;
        padding: 30px;
        }

        ul, li {
            padding: 0;
            margin: 0;
            list-style: none;
        }

        ul.slider{
        position: relative;
        width: 600px;
        height: 650px;
        }

        ul.slider li {
            position: absolute;
            left: 0px;
            top: 0px;
            opacity: 0;
            width: inherit;
            height: inherit;
            transition: opacity .5s;
        }

        ul.slider li img{
        width: 100%;
        height: 650px;
        object-fit: cover;
        }

        ul.slider li:first-child {
            opacity: 1; /*Mostramos el primer <li>*/
        }

        ul.slider li:target {
            opacity: 1; /*Mostramos el <li> del enlace que pulsemos*/
        }

        .menu{
        text-align: center;
        margin: 20px;
        }

        .menu li{
        display: inline-block;
        text-align: center;
        }

        .menu li a{
        display: inline-block;
        color: white;
        text-decoration: none;
        background-color: grey;
        padding: 20px;
        width: 20px;
        height: 20px;
        font-size: 20px;
        border-radius: 100%;
        }

        .container.gallery-container {
    background-color: #fff;
    color: #35373a;
    min-height: 100vh;
    border-radius: 20px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.06);
}

.gallery-container h1 {
    text-align: center;
    margin-top: 70px;
    font-family: 'Droid Sans', sans-serif;
    font-weight: bold;
}

.gallery-container p.page-description {
    text-align: center;
    max-width: 800px;
    margin: 25px auto;
    color: #888;
    font-size: 18px;
}

.tz-gallery {
    padding: 40px;
}

.tz-gallery .lightbox img {
    width: 100%;
    margin-bottom: 30px;
    transition: 0.2s ease-in-out;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}


.tz-gallery .lightbox img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0,0,0,0.3);
}

.tz-gallery img {
    border-radius: 4px;
}

.baguetteBox-button {
    background-color: transparent !important;
}


@media(max-width: 768px) {
    body {
        padding: 0;
    }

    .container.gallery-container {
        border-radius: 0;
    }
}

    </style>

{% endblock %}

{% block content %}
<div class="card card-success">
    <div class="card-header">
        <h3 class="card-title">
        {% if action == 'add' %}
            <i class="fas fa-plus"></i>
        {% else %}
            <i class="fas fa-edit"></i>
        {% endif %}

        {{ title }}
        </h3>
    </div>
    <div class="card-body" style="text-align: center;background-color: black; color: white ; font-size:22px ; font-family:Saira Extra Condensed, sans-serif;">
        {% csrf_token %}
        <input type="hidden" name="action" value="{{ action }}">
        <div class="form-group">
            <div class="row">
                <div class="col-xs-1 col-md-1">Fecha: </div>
                <div class="col-xs-3 col-md-3">{{ product.date_joined }}</div>
                <div class="col-xs-2 col-md-2">Edad: </div>
                <div class="col-xs-1 col-md-1">{{product.edad }}</div>
                <div class="col-xs-2 col-md-2">Identificacion: </div>
                <div class="col-xs-4 col-md-3">{{product.identificacion}}</div>
            </div>
        </div>
        <div class="form-group">
            <div class="row" style="text-align: center">
                <div class="col-xs-2 col-md-2">Nombre: </div>
                <div class="col-xs-10 col-md-10">{{product.name}}</div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-xs-2 col-md-2">Procedimientos:</div>
                <div class="col-xs-10 col-md-10">
                    {% for a in  product.procedimientos.all %}
                        {{ a.name }} - 
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-xs-2 col-md-2">Cirujano 1:</div>
                <div class="col-xs-4 col-md-4">{{ product.cirujano }}</div>
                <div class="col-xs-2 col-md-2">Cirujano 2:</div>
                <div class="col-xs-4 col-md-4">{{ product.cirujano2 }}</div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-xs-6 col-md-6">Inicio Anestesia: {{ product.inicioanestesia }}</div>

                <div class="col-xs-6 col-md-6">Inicio Cirugia: {{ product.iniciocirugia }}</div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-xs-6 col-md-6">Fin Cirugia: {{ product.finalizacioncirugia }}</div>
                <div class="col-xs-6 col-md-6">Fin Anestesia: {{ product.finalizacionanestesia }}</div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-xs-2 col-md-2">Klein:</div>
                <div class="col-xs-10 col-md-10">{{ product.klein }}</div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-xs-2 col-md-2">Extrae:</div>
                <div class="col-xs-4 col-md-4">{{ product.extrae }}</div>
                <div class="col-xs-2 col-md-2">Transferencia:</div>
                <div class="col-xs-4 col-md-4">{{ product.transferencia }}</div>
            </div>
        </div>            
        <div class="form-group">
            <div class="row">
                <div class="col-xs-1 col-md-1">MD:</div>
                <div class="col-xs-5 col-md-5">{{ product.md }}</div>
                <div class="col-xs-1 col-md-1">MI:</div>
                <div class="col-xs-5 col-md-5">{{ product.mi }}</div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-xs-2 col-md-2">Colgajo D:</div>
                <div class="col-xs-4 col-md-4">{{ product.colgajo }}</div>
                <div class="col-xs-2 col-md-2">Colgajo I:</div>
                <div class="col-xs-4 col-md-4">{{ product.colgajo2 }}</div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-xs-12 col-md-12">Observaciones:</div>
                <div class="col-xs-12 col-md-12" >{{ product.observaciones}}</div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-xs-4 col-md-4">Duracion de la cirugia:</div>
                <div class="col-xs-8 col-md-8" >{{ product.duracion}}</div>
            </div>
        </div>
             
    {% comment %}
        <section class="awSlider">
        <div  id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
            <li data-target="myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="myCarousel" data-slide-to="1"></li>
            <li data-target="myCarousel" data-slide-to="2"></li>
            <li data-target="myCarousel" data-slide-to="3"></li>
            </ol>
        
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="{{ product.get_image }}" height="550px" width="500px">
                <div class="carousel-caption">Paciente</div>
            </div>
            <div class="item">
                <img src="{{ product.get_image }}" height="550px" width="500px">
                <div class="carousel-caption">Paciente 2</div>
            </div>
            <div class="item">
                <img src="{{ product.get_image }}" height="550px" width="500px">
                <div class="carousel-caption">Paciente 2</div>
            </div>
            <div class="item">
                <img src="{{ product.get_image }}" height="550px" width="500px">
                <div class="carousel-caption">Paciente 2</div>
            </div>
            </div>
        
            <!-- Controls -->
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Left</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Right</span>
            </a>
        </div>
        </section>
    {% endcomment %}
        <div class="row">
            <div class="imagenes">  
                <ul class="slider">
                    <li id="slide1">
                        <img src="{{ product.get_image }}" height="550px" width="500px">
                    </li>
                    <li id="slide2">
                        <img src="{{ product.get_image2 }}" height="550px" width="500px">
                    </li>
                    <li id="slide3">
                        <img src="{{ product.get_image3 }}" height="800px" width="700px">
                    </li>
                    <li id="slide4">
                        <img src="{{ product.get_image4 }}" height="550px" width="500px">
                    </li>
                </ul>
        
                <ul class="menu">
                    <li>
                        <a href="#slide1">1</a>
                    </li>
                    <li>
                        <a href="#slide2">2</a>
                    </li>
                    <li>
                        <a href="#slide3">3</a>
                    </li>
                    <li>
                        <a href="#slide4">4</a>
                    </li>
                </ul>
            </div>   
        </div>
        <div class="container gallery-container">

            <h1>Imagenes</h1>
        
            <p class="page-description text-center"></p>
            
            <div class="tz-gallery">
        
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <a class="lightbox" href="{{ product.get_image }}">
                            <img src="{{ product.get_image }}" alt="Imagen 1" height="550px" width="500px">
                        </a>
                    </div>
                    <div class="col-sm-6 col-md-6">
                        <a class="lightbox" href="{{ product.get_image2 }}">
                            <img src="{{ product.get_image2 }}" alt="Imagen 2" height="550px" width="500px">
                        </a>
                    </div>
                    <div class="col-sm-6 col-md-6">
                        <a class="lightbox" href="{{ product.get_image3 }}">
                            <img src="{{ product.get_image3 }}" alt="Imagen 3" height="550px" width="500px">
                        </a>
                    </div>
                    <div class="col-sm-6 col-md-6">
                        <a class="lightbox" href="{{ product.get_image4 }}">
                            <img src="{{ product.get_image4 }}" alt="Imagen 4" height="550px" width="500px">
                        </a>
                    </div>
                    
                </div>
        
            </div>
        
        </div>
    </div>


                  

    <div class="card-footer">
        <a href="{{ update_url }}" class="btn btn-danger btn-flat">
            <i class="fas fa-edit"></i> Editar
        </a>
        <a href="{{ list_url }}" class="btn btn-danger btn-flat">
            <i class="fas fa-times"></i> Volver
        </a>
    </div>
</div>
{% endblock %}
{% block javascript %}
<script>

// $('section.awSlider .carousel').carousel({
// 	pause: "hover",
//   interval: 000
// });

// var startImage = $('section.awSlider .item.active > img').attr('src');
// $('section.awSlider').append('<img src="' + startImage + '">');

// $('section.awSlider .carousel').on('slid.bs.carousel', function () {
//  var bscn = $(this).find('.item.active > img').attr('src');
// 	$('section.awSlider > img').attr('src',bscn);
// });
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
<script>
    baguetteBox.run('.tz-gallery');
</script>
</script>
{% endblock %}